
#nav{
position:relative;}
#nav li{
margin:0;
padding:0;
list-style:none;
position:absolute;
top:0;
}
#nav li, #nav a{
height:113px; display:block;
}
#left_li_1{left:0px;
width:113px;}
#left_li_1{
background:url('../img/left-menu.gif') 0 0;
}


.line{
border:1px solid #CC9933;}

#LF_text{
padding-bottom:10px;
padding-top:15px;
}
#allconsist{
background-color:#FF00FF;
width:840px ;

margin-left:auto;
margin-right:auto;
padding:10px 80px 0px 80px;
}
#consist{
background-color:#CCFFFF;
width:710px;
padding-top:137px;
margin-left:190px;
}
#header{
background-color:#00CCFF;
width:903px ;
position:fixed;

}
#left_field{
background-color:#00FF99;
width:101px ;
margin-top:110px;
position:fixed;

}
#main_field_1{
background-color:#FFCC66;

}
#main_field_2{
background-color:#FF9966;


}
#main_field_3{
background-color:#009933;


}

body{
background-color:#000000;
padding-top:opx;
margin-top:0px;}
h4{
text-align:center;
line-height:0px;
font-size:17px;

}
p{
text-align:center;
line-height:0px;
font-size:18px;
}
.fields{width:710px;
height:800px;
}
#footer{}

